*.egg-info
*.pyc
*.so
.coverage
.eggs
.mypy_cache
.vscode
/build
/dist
/docs/_build

# Environments
.env
.venv
/environment
env/
venv/
ENV/
env.bak/
venv.bak/

secrets.log
*.json

/thesis/data_out/test_analyzer.py
/thesis/data_out/test_plotter.py
/thesis/data_out/bar_plotter.py
/thesis/data_out/simpleCalc.py